@charset "utf-8";

.information{
    color: red;
    margin-bottom: 10px;
    display: none;
}

.form-group{
    margin-bottom: 0px;
}

.form-control{
    margin-bottom: 5px;
}

.form-control.year{
    display: inline-block;
    width: 33%;
}

.form-control.month{
    display: inline-block;
    width: 33%;
}

.form-control.day{
    display: inline-block;
    width: 33%;
}

.form-control.country-code:disabled,.form-control.country-code[readonly] {
    background-color: white;
}

.form-control.country-code{
    display: inline-block;
    width: 20%;
}
.form-control.number{
    display: inline-block;
    width: 60%;
}

.form-control.certification{
    display: inline-block;
    width: 19%;
}